@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Jost:wght@400;600;700&family=Quicksand:wght@400;600;700&family=Ubuntu:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

/* navbar css */

.navbar {
    background-color: #333030;
    height: 10vh;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    height: 100%;
}


.navbar ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    font-size: 1.2rem;
}

.navbar .link {
    text-decoration: none;
    color: aliceblue;
    font-family: poppins;
}

.title .link {
    font-size: 2rem;
    font-weight: 500;
    font-family: ubuntu;
}

/* input css */
.inputLabel {
    display: block;
    font-family: quicksand;
    font-weight: 600;
    margin-top: 0.6rem;
}

.input input {
    font-family: poppins;
    font-size: 1.1rem;
    width: 100%;
}

/* signup css */
.edit,
.passwordChange {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.edit h1,
.passwordChange h1 {
    display: flex;
    justify-content: center;
    font-family: ubuntu;
    margin-bottom: 0.8rem;
}

.edit input,
.passwordChange input {
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 0.3rem;
    border-radius: .2rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.473);
}

.passwordChange input[type='submit'],
.edit input[type='submit'] {
    font-family: quicksand;
    background-color: #5760c0;
    color: aliceblue;
    border: 1px solid rgb(110, 119, 221);
    font-size: 1.2rem;
}

/* home css */

.home {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    flex-direction: column;
}

.home-content {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.right {
    margin: auto;
}

.heading {
    font-family: jost;
    font-weight: 600;
    font-size: 3rem;
}

.sub-heading {
    font-family: quicksand;
    font-weight: 600;
    margin-bottom: 1rem;
}

.home-link .link {
    background-color: #9949e3;
    color: white;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 30px;
    font-family: poppins;
}

@media screen and (max-width:925px) {
    .right img {
        width: 300px;
    }

    .home,
    .navbar .container {
        width: 85%;
    }
}

@media screen and (max-width:670px) {
    .home-content {
        display: block;
    }

    .left {
        width: 100%;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
    }
}

.footer {
    height: 10vh;
    background-color: #333030;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    color: #eee;
}

/* signup css */
.signup {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.signup-content {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 6px 8px 1px rgba(65, 65, 65, 0.529);
    width: 80%;
}

.signup-content .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-content .left img {
    width: 400px;
}

.signup-content .right h1 {
    font-family: jost;
}

.signup-content input[type=submit] {
    font-family: quicksand;
    color: white;
    background-color: #5760c0;
    outline: none;
    border: 1px solid #5760c0;
    padding: .4rem;
    border-radius: 3px;
    margin-top: 1rem;
    font-size: 1.1rem;
    width: 100%;
}

.signup-content .login-link {
    display: flex;
    justify-content: center;
    margin-top: .8rem;
    font-size: .9rem;
    font-family: poppins;
}

@media screen and (max-width:940px) {
    .signup-content {
        width: 90%;
    }

    .signup-content .left img {
        width: 300px;
    }
}

@media screen and (max-width:710px) {
    .signup-content {
        width: 100%;
        display: block;
    }

    .signup {
        margin-top: 0;
    }

    .signup-content .left {
        width: 100%;
    }

    .signup-content .left img {
        width: 350px;
    }

    .signup-content .right form {
        width: 100%;
    }

    .signup-content .right h1 {
        text-align: center;
    }

}

/* login css */
.login {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.login-content {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 6px 8px 1px rgba(65, 65, 65, 0.529);
    width: 80%;
}

.login-content .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content .left img {
    width: 400px;
}

.login-content .right h1 {
    font-family: jost;
}

.login-content input[type=submit] {
    font-family: quicksand;
    color: white;
    background-color: #5760c0;
    outline: none;
    border: 1px solid #5760c0;
    padding: .4rem;
    border-radius: 3px;
    margin-top: 1rem;
    font-size: 1.1rem;
    width: 100%;
}

.login-content .signup-link {
    display: flex;
    justify-content: center;
    margin-top: .8rem;
    font-size: .9rem;
    font-family: poppins;
}

@media screen and (max-width:1040px) {
    .login-content {
        width: 90%;
    }

    .login-content .left img {
        width: 300px;
    }
}

@media screen and (max-width:790px) {
    .login-content {
        width: 100%;
        display: block;
    }

    .login {
        margin-top: 0;
    }

    .login-content .left {
        width: 100%;
    }

    .login-content .left img {
        width: 350px;
    }

    .login-content .right form {
        width: 100%;
    }

    .login-content .right h1 {
        text-align: center;
    }
}

/* about css */

.about {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.about .links {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.aboutLink {
    text-decoration: none;
    background-color: #608b8f;
    color: aliceblue;
    padding: 0.3rem;
    border-radius: 4px;
    font-family: quicksand;
}

.fetching {
    font-family: quicksand;
    font-weight: 500;
}

.about table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.about table thead tr {
    background-color: #608b8f;
    color: #ffffff;
    text-align: center;
    font-family: ubuntu;
}

.about table th,
.about table td {
    padding: 12px 15px;
}

.about table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-family: poppins;
    text-align: center;
}

.about table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.about table tbody tr:last-of-type {
    border-bottom: 2px solid #608b8f;
}

/* edit css */
.edit {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.edit-content {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 6px 8px 1px rgba(65, 65, 65, 0.529);
    width: 80%;
}
.edit-content .right{
    width: 40%;
}

.edit-content .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-content .left img {
    width: 300px;
}

.edit-content .right h1 {
    font-family: jost;
}

.edit-content input[type=submit] {
    font-family: quicksand;
    color: white;
    background-color: #5760c0;
    outline: none;
    border: 1px solid #5760c0;
    padding: .4rem;
    border-radius: 3px;
    margin-top: 1rem;
    font-size: 1.1rem;
    width: 100%;
}

.edit-content .signup-link {
    display: flex;
    justify-content: center;
    margin-top: .8rem;
    font-size: .9rem;
    font-family: poppins;
}

@media screen and (max-width:1040px) {
    .edit-content {
        width: 90%;
    }

    .edit-content .left img {
        width: 300px;
    }
}

@media screen and (max-width:800px) {
    .edit-content {
        width: 100%;
        display: block;
    }

    .edit {
        margin-top: 0;
    }

        .edit-content .right, .edit-content .left {
        width: 100%;
    }

    .edit-content .left img {
        width: 350px;
    }

    .edit-content .right form {
        width: 100%;
    }

    .edit-content .right h1 {
        text-align: center;
    }
}